@use '../../../styles/common/variables.scss' as *;
@use '../../../styles/common/minxin.scss' as *;
@use '../../../styles/common/transition.scss' as *;

.reference-content {
  display: inline-block;
  z-index: $referece-zdx;
}

.j-popover-content {
  min-width: 80px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  z-index: $popover-zdx;
  .j-popover-inner {
    padding: 12px;
    box-sizing: border-box;
    background-color: $bgc-color;
    border-radius: 4px;
    box-shadow: $popover-shadow;
  }
}
