$white-color: #ffffff;
$black-color: #000000;
$warn-color: #ff9f43;
$err-color: #ee5253;
$success-color: #10ac84;
$info-color: #0abde3;
$primary-color: #2e86de;
$disabled-color: #e7e4e4;

$bgc-color: #fff;
$text-color: #222f3e;
$text-gary: #576574;
$text-gary2: #8395a7;
$text-color-light: #fefeff;

$border-color: #dcdde1;

$mask-color: rgba(0, 0, 0, 0.6);

// btn
$btn-hover-bgc-color: rgba(0, 0, 0, 0.13);

// btn

// ipt
$ipt-bgc-color: #f6f6f6;
$ipt-hover-bgc-color: rgb(235, 235, 235);
$ipt-focus-bgc-color: rgb(219, 219, 219);
$ipt-disabled-bgc-color: rgb(200, 200, 200);
$ipt-tranfrom-transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);

// ipt

// 基础字体大小
$font-base-size: 16px;

// 标题
$font-size-heading: 24px;
$font-size-subheading: 20px;

// 正文
$font-size-body: 16px;
$font-size-small: 14px;

// 按钮
$font-size-button: 16px;

// 响应式布局
$font-size-lg: 20px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-ssm: 12px;

// 相对单位
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-md: 1rem;
$font-size-sm: 0.875rem;

$modal-zdx: 1200;

$btn-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
$btn-shadow-active:
  0 2px 4px rgba(0, 0, 0, 0.3),
  0 4px 8px rgba(0, 0, 0, 0.2),
  0 10px 20px rgba(0, 0, 0, 0.1);
$btn-shadow-hover:
  0 2px 4px rgba(0, 0, 0, 0.2),
  0 4px 8px rgba(0, 0, 0, 0.1),
  0 8px 16px rgba(0, 0, 0, 0.05);
