@use '../../../styles/common/variables.scss' as *;
@import url('//at.alicdn.com/t/c/font_4169195_dp0k8ju0itg.css');

// 定义一个大小Map
$icon-sizes: (
  so-small: (
    height: 20px,
    font-size: $icon-size-ssm
  ),
  small: (
    height: 28px,
    font-size: $icon-size-sm
  ),
  medium: (
    height: 32px,
    font-size: $icon-size-md
  ),
  large: (
    height: 44px,
    font-size: $icon-size-lg
  )
);

// 定义一个Mixin，接受一个参数$size
@mixin icon-size($size) {
  @if map-has-key($icon-sizes, $size) {
    $size-props: map-get($icon-sizes, $size);
    height: map-get($size-props, height);
    font-size: map-get($size-props, font-size);
  } @else {
    @warn "Invalid icon size: #{$size}.";
  }
}

.j-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-sm;
  color: inherit;
  .iconfont {
    font-size: inherit;
    color: inherit;
  }

  &.size_so-small {
    @include icon-size(so-small);
  }

  &.size_small {
    @include icon-size(small);
  }

  &.size_medium {
    @include icon-size(medium);
  }

  &.size_large {
    @include icon-size(large);
  }
}
