@use '../../../styles/common/variables.scss' as *;
@use '../../../styles/common/minxin.scss' as *;
@use '../../../styles/common/transition.scss' as *;

.j-slider {
  --slider-track-size: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  .j-slider-prepend {
    margin-right: 20px;
  }
  .j-slider-append {
    margin-left: 20px;
  }

  .j-slider-inner-wrapper {
    position: relative;
    flex: 1;
    .inner-track {
      position: relative;
      width: 100%;
      height: var(--slider-track-size);
      .track-content,
      .track-fill {
        position: absolute;
        left: 0;
        top: 0;
      }
      .track-content {
        width: 100%;
        height: var(--slider-track-size);
        background-color: $primary-color-opacity40;
      }
      .track-fill {
        width: var(--j-slider-thumb-postion);
        height: var(--slider-track-size);
        background-color: $primary-color;
      }
    }
    .inner-thumb {
      box-sizing: border-box;
      position: absolute;
      left: calc(
        var(--j-slider-thumb-postion) - (var(--j-slider-thumb-size) / 2)
      );
      top: 50%;
      width: var(--j-slider-thumb-size);
      height: var(--j-slider-thumb-size);
      transform: translateY(calc(-1 * var(--j-slider-thumb-size) / 2));
      background-color: $primary-color;
      border-radius: 50%;
    }
  }
}
